<section class="preview__header">
<header class="header">
	<div class="container">
		<div class="preview__wrap">
			<h2 class="preview__title--h2">Purchase HD movies at the smallest size</h2>
			<p class="preview__title--h3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			<button class="btn btn-2">Browse movies</button>
			<button class="btn btn-2 btn-invise">Latest movies</button>
		</div>
	</div>
</header></section>